/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
.container {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.image {
  height: 300px;
  width: 300px;
  transition: all .2s;
  -webkit-filter: grayscale(100%);
}

.title {
  background-color: #ccc;
  color: #000;
  font-size: 14px;
  padding: 5px;
  z-index: 1;
  bottom: 15px;
  position: absolute;
  transition: all .5s;
  display: inline;
}

.image:hover {
  -webkit-filter: grayscale(0%);
}

.view-id-categories {
  display: flex;
  justify-content: center;
}
